.color-1 {
	color: #fff;
}
.member-user {
	width: 100%;
	max-width: 375px;
	height: 186px;
	background: url(../image/icon_bj@3x.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
	position: relative;
	.member-user-bg {
		width: 95%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding: 12px 0;
		.member-user-img {
			width: 63px;
			height: 65px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.member-user-name {
			padding-left: 7px;
			p {
				&:nth-of-type(1) {
					width: 100%;
					display: flex;
					align-items: center;
					span {
						color: #ffffff;
						font-family: NotoSansHans-Medium;
						font-size: 18px;
					}
				}

				&:nth-of-type(2) {
					font-size: 12px;
					color: #000000;
					opacity: 0.5;
				}
			}
		}
		.member-icon {
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 28px;
			background-color: #f3dac6;
			border-radius: 14px;
			padding: 0 8px;
			span {
				display: flex;
				align-items: center;
				margin-top: -5px;
				img {
					width: 20px;
					height: 20px;
				}
			}
			p {
				font-size: 13px;
				color: #493020;
				line-height: 28px;
			}
		}
	}
}
.member-header {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 24px 15px 22px 15px;
	p {
		font-size: 17px;
		display: flex;
		align-items: center;
		&:nth-of-type(1) {
			font-size: 17px;
			color: rgba(0, 0, 0, 0.8);
		}
		&:nth-of-type(2) {
			font-size: 13px;
			color: rgba(0, 0, 0, 0.3);
			margin-left: auto;
		}
	}
}
.card-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 15px;
}
.card-list::after {
	content: '';
	width: 2.8rem;
}
.member-pay {
	width: 345px;
	height: 290px;
	margin: 0 auto;
	background-image: linear-gradient(180deg, #313544 0%, #313544 100%);
	box-shadow: 0px 0px 8px 3px rgba(76, 76, 76, 0.06);
	border-radius: 8px;
	margin-top: -100px;
	z-index: 2000;
	position: relative;
	.member-pay-list {
		width: 100px;
		height: 123px;
		background-color: #fff;
		border-radius: 8px;
		border: solid 2px #ba8156;
		text-align: center;
		p {
			&:nth-of-type(1) {
				font-size: 13px;
				color: rgba(0, 0, 0, 0.8);
				padding: 14px 0 0 0;
			}
			&:nth-of-type(2) {
				font-size: 13px;
				color: #edb55d;
				span {
					font-size: 30px;
					font-weight: 700;
				}
			}
			&:nth-of-type(3) {
				padding: 0 5px;
				margin: 0 auto;
				font-size: 13px;
				color: #000000;
				opacity: 0.5;
			}
		}
	}
	.member-pay-btn {
		width: 300px;
		height: 46px;
		background-image: linear-gradient(90deg, #e1aa7f 0%, #f6d7c1 100%);
		border-radius: 24px;
		display: flex;
		align-items: center;
		margin: 0 auto;
		margin-top: 28px;
		.member-pay-btn-text {
			width: 100%;
			margin: 0 auto;
			position: relative;
			p {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				&:nth-of-type(1) {
					font-size: 17px;
					color: #493020;
				}
				span {
					background-image: linear-gradient(90deg, #fd6f61 0%, #fd4f4d 100%);
					border-radius: 12px 12px 12px 0;
					font-size: 12px;
					color: #ffffff;
					position: absolute;
					top: -5px;
					right: 35px;
					padding: 3px 7px;
				}
				// &:nth-of-type(2) {
				// 	font-size: 12px;
				// 	color: #000000;
				// 	opacity: 0.5;
				// }
			}
		}
	}
}
.member-pay-list.cardAction {
	background-color: #fff7e7;
	border: solid 1px #edb55d;
}
.member-introduce,
.member-exclusive {
	width: 345px;
	margin: 18px auto;
	background-color: #ffffff;
	// box-shadow: 0px 0px 8px 3px rgba(76, 76, 76, 0.06);
	border-radius: 8px;
	padding-bottom: 27px;
	.member-introduce-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 15px;
		.member-introduce-list-box {
			width: 69px;
			text-align: center;
			img {
				width: 54px;
				height: 54px;
				margin: 0 auto;
			}
			p {
				width: 100%;
				font-size: 13px;
				color: #63350d;
				padding-top: 4px;
				text-align: left;
				margin: 0 auto;
				text-align: center;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
.member-service{
	box-shadow: 0px 0px 8px 3px 
			rgba(76, 76, 76, 0.06);
}
.member-introduce-top {
	margin-top: -100px;
	z-index: 2000;
	position: relative;
}
.member-help-content {
	padding-bottom: 100px;
}
.member-exclusive-list {
	width: 339px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	.member-exclusive-list-item {
		width: 100%;
		position: relative;
		margin-bottom: 23px;
		.list-item-img {
			width: 339px;
			height: 117px;
			margin: 0 auto;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				border-radius: 6px;
			}
			.list-item-img-sum {
				position: absolute;
				bottom: 0;
				left: 5px;
				color: #ffffff;
				img {
					width: 20px;
					height: 20px;
					margin-top: -5px;
				}
			}
		}
		.member-exclusive-pic {
			position: absolute;
			top: 21px;
			left: 162px;
			p {
				width: 165px;
				font-size: 14px;
				color: #000000;
				opacity: 0.8;
				&:nth-of-type(1) {
					font-size: 16px;
				}
				&:nth-of-type(2) {
					color: rgba(0, 0, 0, 0.5);
					font-size: 13px;
					span {
						text-decoration: line-through;
					}
				}
			}
			.exclusive-btn {
				display: inline-block;
				margin-top: 9px;
				background-color: #fff;
				border-radius: 14px;
				text-align: center;
				padding: 4px 10px;
				color: #ffffff;
				font-size: 14px;
			}
		}
	}
}
.member-early {
	width: 339px;
	height: 150px;
	margin: 0 auto;
	border-radius: 8px;
	img {
		width: 100%;
		height: 100%;
		border-radius: 8px;
	}
}
.member-early-text {
	width: 339px;
	margin: 0 auto;
	p {
		width: 100%;
		font-size: 16px;
		color: #000000;
		opacity: 0.8;
		padding-top: 13px;
		&:nth-of-type(2) {
			padding-top: 10px;
			color: rgba(0, 0, 0, 0.5);
			font-size: 13px;
		}
	}
}
.member-activity-list {
	width: 100%;
	margin: 0 auto;
	display: flex;
	.member-activity-list-item {
		flex: 2;
		text-align: left;
		img {
			width: 165px;
			height: 105px;
			margin: 0 auto;
			border-radius: 8px;
		}
		p {
			width: 165px;
			font-size: 14px;
			color: #000000;
			opacity: 0.8;
			padding-top: 10px;
		}
	}
}
.member-service-list {
	width: 345px;
	margin: 0 auto;
	padding: 0 15px 0 19px;
	.member-service-list-item {
		width: 100%;
		display: flex;
		align-items: center;
		img {
			width: 58px;
			height: 58px;
		}
		p {
			&:nth-of-type(1) {
				padding-left: 14px;
				width: 60%;
				span {
					display: inline-block;
					// width: 100%;
					&:nth-of-type(1) {
						font-size: 15px;
						color: rgba(0, 0, 0, 0.8);
					}
					&:nth-of-type(2) {
						font-size: 13px;
						color: rgba(0, 0, 0, 0.5);
					}
				}
			}
			&:nth-of-type(2) {
				display: inline-block;
				width: 65px;
				margin-left: auto;
				background-color: #ff6666;
				border-radius: 14px;
				color: #ffffff;
				font-size: 15px;
				text-align: center;
				line-height: 28px;
			}
		}
	}
}
.member-help-list {
	p {
		font-size: 14px;
		color: #000000;
		opacity: 0.8;
	}
}
.member-buy {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 65px;
	padding-bottom: env(safe-area-inset-bottom);
	background-color: #fff;
	box-shadow: -0.45px 2.45px 9px 0px rgba(0, 0, 0, 0.19);
	.member-buy-box {
		width: 92%;
		margin: 0 auto;
		display: flex;
		height: 100%;
		.member-buy-left {
			width: 60%;
			p {
				height: 50%;
				display: flex;
				align-items: center;
				&:nth-of-type(1) {
					font-size: 14px;
					color: #000000;
				}
				&:nth-of-type(2) {
					font-size: 13px;
					color: #000000;
					opacity: 0.5;
					span {
						font-size: 20px;
						color: #eeaa3f;
					}
				}
			}
		}
		.member-buy-right {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				width: 116px;
				height: 40px;
				line-height: 40px;
				background-image: linear-gradient(90deg, #f7bc61 0%, #ffe3a0 100%), linear-gradient(#ffffff, #ffffff);
				background-blend-mode: normal, normal;
				border-radius: 20px;
				text-align: center;
				font-size: 17px;
				color: #64442e;
			}
		}
	}
}
.member-goods-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	.member-goods-list-item {
		width: 33.33%;
		.list-item-img {
			width: 98px;
			height: 98px;
			margin: 0 auto;
			img {
				width: 100%;
				height: 100%;
				border-radius: 6px;
			}
		}
		.member-exclusive-pic {
			width: 98px;
			margin: 0 auto;
			.goods-name {
				color: rgba(0, 0, 0, 0.8);
				font-size: 13px;
				margin-top: 8px;
			}
			.goods-pic {
				display: flex;
				p {
					&:nth-of-type(1) {
						color: #ff6666;
						font-size: 8px;
						span {
							font-size: 15px;
						}
					}
					&:nth-of-type(2) {
						color: #cacaca;
						font-size: 8px;
						text-decoration: line-through;
						margin-left: 5px;
						span {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}
.xmlyimg {
	width: 345px;
	margin: 0 auto;
	img {
		width: 100%;
		height: 100%;
	}
}
